{% extends 'store/main.html' %}
{% load static %}
{% block content %}
     <main class="container">
          <h1>A little bit about us...</h1>
          <p>We couldn't be prouder to open the doors of our very first store, located at 10 Prince Street just a few blocks from the SoHo office where our team dreams up all of our pieces. Designed in collaboration with our friend, Poonam, this space is full of our favorite design elements, from a beautiful custom seating area perfect for trying on our footwear to the pleated tissue paper used during the pleating process in our own signature heels. If you're in the area, we hope you stop by for a visit and find something you love.</p>

          <img class="img-about mb-1" src="https://images.unsplash.com/photo-1526489382000-91b5e20030a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80" alt="Our boutique">
          <br>
          <h2>Meet With a Stylist</h2>
          <p>If you're looking for help shopping for an event, finding your size, or learning more about our offerings, please click below to schedule an appointment either in-store or virtually via Zoom. Please note, all customers and stylists are required to wear face masks inside the shop.</p>
          <br>
          <h2>Design Notes</h2>
          <p>All about the design and care that went into every detail of our first store, from the hand-picked light fixtures to the playlist curated by our shop team.</p>
          <br>
          <h2>Exclusive To Our Store</h2>
          <p>We're excited to offer exclusive styles and early availability on select pieces in our store. Ready-to-Wear is available to shop in-person for the first time in the boutique, as well as a hand-picked selection of third party good from Jessie's favorite small businesses. We also offer same day messenger service for store inventory within New York City for a delivery fee, making it even easier to stock up on these special offerings.</p>
     </main>


{% endblock content %}