{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<main class="container" style="margin-bottom: 120px;">
<div class="row">
  <div class="column">
    <img src="/static/images/leopard.jpeg">
    <img src="https://images.unsplash.com/photo-1496692052106-d37cb66ab80c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
    <img src="/static/images/paillette.jpeg">
<!--    <img src="paris.jpg">-->
<!--    <img src="nature.jpg">-->
<!--    <img src="mist.jpg">-->
<!--    <img src="paris.jpg">-->
  </div>
  <div class="column">
    <img src="/static/images/sandals.jpeg">
    <img src="https://images.unsplash.com/photo-1426543881949-cbd9a76740a4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
    <img src="/static/images/cuori.jpeg">
<!--    <img src="mountainskies.jpg">-->
<!--    <img src="rocks.jpg">-->
<!--    <img src="underwater.jpg">-->
  </div>
  <div class="column">
    <img src="https://images.unsplash.com/photo-1536047408160-e6dc1ff76a0f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
    <img src="/static/images/bridal.jpeg">
    <img src="/static/images/malibu.jpeg">
<!--    <img src="paris.jpg">-->
<!--    <img src="nature.jpg">-->
<!--    <img src="mist.jpg">-->
<!--    <img src="paris.jpg">-->
  </div>
  <div class="column">
    <img src="/static/images/ballerina.jpeg">
    <img src="https://images.unsplash.com/photo-1585768750637-ada36319a484?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80">
    <img src="https://images.unsplash.com/photo-1526047932273-341f2a7631f9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGxvdmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">

<!--    <img src="mountainskies.jpg">-->
<!--    <img src="rocks.jpg">-->
<!--    <img src="underwater.jpg">-->
  </div>
</div>
</main>
{% endblock content %}